<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>{% if symbol %}<img src="{{ symbol.url }}" alt="{{ symbol.code }}" title="{{ symbol.text }}"> {% endif %}{{ deck|korvecdal }}</h1>
  <table>
    {% for section in sections %}
    <tbody>

      <tr>
        <th>{{ section.total_count }}</th>
        <th>{{ section.name }}</th>
      </tr>
      {% for count, card in section.cards %}
      <tr>
        <td>{{ count }}</td>
        <td>
          <div class="name"><a href="{{ card.url }}" title="{{ card.type_line }}">{{ card.name|korvecdal }}</a></div>
          {% if card.mana_cost %}<div class="mana">{% for mana in card.mana_cost %}<img src="{{ mana.url }}" alt="{{ mana.code }}">{% endfor %}</div>{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endfor %}
  </table>
</body>
</html>
