<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>{{ headline }}</h1>
  <table>
    {% for section in sections %}
    <tbody>
      <tr>
        <th>{{ section.total_count or "" }}</th>
        <th>{{ section.name }}</th>
      </tr>
      {% for count, card in section.cards %}
      <tr>
        <td>{{ count or "" }}</td>
        <td>
          <div class="name">
            <a href="{{ card.url }}" title="{{ card.type_line|mdash }}">{{ card.name|rsquo }}</a>
          </div>
          {% if card.mana_cost %}
          <div class="mana">
            {% for symbol in card.mana_cost -%} <img src="{{ symbol.url }}" alt="{{ symbol.text }}"> {%- endfor %}
          </div>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endfor %}
  </table>
</body>
</html>
